

# Theory question

**1.What are data structures, and why are they important.**

ans:  data structure is format that use to store,oraganize the collection of data.
it is important to  manage the information of different characterstics.
it conserve memory space.
it optimize and manipulate data efficiently
it is good in accessing and sorting data

**2.Explain the difference between mutable and immutable data types with examples.**

ans:  mutable data types are those whose elements can be changed eg.list

In [ ]:
list1=[1,2,3,4]
list1[2]=5#in square bracket ,index is there referring to that element that you want to change
list1

[1, 2, 5, 4]

immumtable data types are those which are are once created but element can't be changed through operations
ex: tuples are immutable data types
it provides a secure way to store data that shouldn't be modified

In [ ]:
my_tuple=(1,2,3,4)
my_tuple[2]=5
my_tuple  # it will throw an error because  tuples are immutable

TypeError: 'tuple' object does not support item assignment

**3. What are the main differences between lists and tuples in Python**

ans: list is immutable data type
it is ordered collection of data.
 we can  add ,remove or modify elements using indexing and slicing

In [6]:
student_marks=[45,50,56,55,78]# if we want to change 78 to 48
student_marks[4]=48#4 is the index of 78
student_marks

[45, 50, 56, 55, 48]

**4.Describe how dictionaries store data.**

ans: dictionaries carries the data in key value pair
keys are used as index ,if we want to access the data.
keys can be of various types (strings,float,integers) but keys can't be special character
it contains data or it is defined by '{}'(curly braces)

In [5]:
d={"name":"anshika"}#here name is the key and anshika is the value
d["name"]="sakshi"#WE CAn perform item assignment in dictionary
d

{'name': 'sakshi'}

**5.Why might you use a set instead of a list in Python.**

set is unordered collection of data ,it does not allows duplicate values .
list allow duplicate entries .

In [7]:
list1=[1,2,2,2,5,6,3]
set1={1,2,2,2,5,6,3}
print(list1)
print(set1)

[1, 2, 2, 2, 5, 6, 3]
{1, 2, 3, 5, 6}

**6.What is a string in Python, and how is it different from a list.**

ans: A string is a sequence of characters, typically used to represent text.
text always contained in the  
between quotation marks ("text")
string is immutable

In [10]:
str1="akshu","saku"
print(str1)

('akshu', 'saku')

In [11]:
str1[0]="akansha"#it will throw an error
# string doesn't support item assignment
str1

TypeError: 'tuple' object does not support item assignment

**7.How do tuples ensure data integrity in Python.**

tuples are immutable and it doesn't support item assignment.
we can access elements but we cannot modify the content.
in this way it insure the integrity of data

**8.What is a hash table, and how does it relate to dictionaries in Python**

ans: hashtable is a data structure that allows you to store and retrieve data efficiently using key-value pair .
n Python, dictionaries (dict) are implemented as hash tables. Here’s how they relate:

Keys: In a Python dictionary, keys are hashed using a hash function.

In [12]:
# Creating a dictionary
student_grades = {
    "Alice": 85,
    "Bob": 90,
    "Charlie": 78
}

# Accessing a value
print(student_grades["Alice"])  # Output: 85

# Adding a new key-value pair
student_grades["David"] = 92

# Deleting a key-value pair
del student_grades["Charlie"]

# Checking if a key exists
if "Bob" in student_grades:
    print("Bob's grade:", student_grades["Bob"])  # Output: Bob's grade: 90

85
Bob's grade: 90

**9.Can lists contain different data types in Python.**

yes,list can contain different data types e.g. strings, integers, tuples,float even other lists

In [13]:
a=["anshika",1,1.2,True,[1,2,3],("ansi",1,2,1.2)]
a

['anshika', 1, 1.2, True, [1, 2, 3], ('ansi', 1, 2, 1.2)]

**10.Explain why strings are immutable in Python.**

Strings in Python are immutable to ensure safety, predictability, and allow optimizations like memory reuse and thread safety. This means once a string is created, it can't be changed.

**11.What advantages do dictionaries offer over lists for certain tasks.**

Dictionaries offer fast lookups using unique keys, making them ideal for mapping data. For example, (code) allows quick access to user names using their IDs.

In [14]:
user_info = {"ID123": "John", "ID124": "Doe"}
user_info["ID123"]

'John'


Lists maintain order and support indexing, making them great for sequences. For example,(code)allows access to items by position like `fruits[0]` for "apple".

In [15]:
fruits = ["apple", "banana", "cherry"]
fruits[0]

'apple'

**12.Describe a scenario where using a tuple would be preferable over a list.**

In [16]:
# Using a tuple to store GPS coordinates
coordinates = (40.712776, -74.005974)  # Tuple of latitude and longitude for New York City

print(f"Latitude: {coordinates[0]}")
print(f"Longitude: {coordinates[1]}")

Latitude: 40.712776
Longitude: -74.005974

ans: since,tuple is immutable so it is better way to describe this type of data like ,coordinates
instead of list which is  immutable,and can be changed easily

**13.How do sets handle duplicate values in Python.**

ans: set only gives unique value and remove duplicate ones

In [18]:
set1={1,2,3,3,4,23,4.5,66}
set1

{1, 2, 3, 4, 4.5, 23, 66}

**14.How does the “in” keyword work differently for lists and dictionaries.**

ans: when we use list ,it checks if the elements present in the list

In [19]:
list_a=["anshika","doctor",1,23]
"anshika" in list_a

True

but when we use 'in' in dictionary it tells if key is present in the dictonary   ,it doesn't tell about the value if we ask

In [20]:
dict1={"name":"anshika","subject":"Music"}
print("name" in dict1)
print("anshika" in dict1)#it will show anshika as a member false because it only tell about "keys"

True
False

**15.Can you modify the elements of a tuple? Explain why or why not.**

no,we can not modify the elements of a tuple, if we try to change it will throw an error
but if we change first tuple into list then we can modify it and then we can again change it into tuple

In [21]:
# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert tuple to list
temp_list = list(my_tuple)

# Modify the list
temp_list[2] = 99

# Convert list back to tuple
modified_tuple = tuple(temp_list)

print("Original tuple:", my_tuple)
print("Modified tuple:", modified_tuple)

Original tuple: (1, 2, 3, 4, 5)
Modified tuple: (1, 2, 99, 4, 5)

**16.What is a nested dictionary, and give an example of its use case.**

it is dictionary within dictionary
it contains multilevel of info.

In [24]:

store = {
    "Electronics": {
        "Laptop": 10,
        "Mobile": 20
    },
    "Clothing": {
        "Jeans": 50,
        "T-Shirts": 100
    },
    "Groceries": {
        "Apples": 30,
        "Bananas": 45
    }
}


print(store["Electronics"]["Laptop"])
print(store["Clothing"]["Jeans"])
print(store["Groceries"]["Bananas"])

10
50
45

**17.Describe the time complexity of accessing elements in a dictionary.**

 ans: i don't know

**18.In what situations are lists preferred over dictionaries.**

we use when we need ordered data with indexed access and simple iteration. we Opt for dictionaries when you need key-value pairs for quick lookups and storing heterogeneous data.

**19.Why are dictionaries considered unordered, and how does that affect data retrieval.**

ans: Dictionaries are considered unordered because they store key-value pairs without any specific sequence, which means the order of items can change. This unordered nature allows for faster data retrieval by using keys, without relying on position or order.so,it affect data retrieval in positive way.

**20.Explain the difference between a list and a dictionary in terms of data retrieval**

when we want to retreive data from list we use index
but when we retrieve data from the dicrionary we use index of that particular data.

In [25]:
list_a=["ansi","anshu","anshika"]
list_a[1] #when i want to retrieve anshu we use index=2

'anshu'

In [27]:
dict_A={"name":"anshika","nick-name":"ansi","2-nick-name":"anshu"}
dict_A["name"]# in dictionaries we don't have to look for place we just put key inplace of index and get the value

'anshika'

# Practical questions

1. Write a code to create a string with your name and print it

In [ ]:
name="anshika"
print(name)

anshika

2.Write a code to find the length of the string "Hello World"

In [ ]:
s="hello world"
len(s)

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
s1="python programming"
print(s1[3:])

hon programming

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
a='hello'
a

'hello'

In [ ]:
a.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple

In [ ]:
string1='i like apple'
string1

'i like apple'

In [ ]:
string1.replace('apple','orange')

'i like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
l=[1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
list=["a","b","c","d"]
list[1]

'b'

10.write a code to reverse the list ['a','b','c','d'].

In [ ]:
list=[10,20,30,40,50]
list.reverse()
list

[50, 40, 30, 20, 10]

11. write a code to  create a tuple with the elements 10,20,30 and print it.

In [ ]:
number=(10,20,30)
print(number)

(10, 20, 30)

12.write a code to access the first element of tuple ('apple',banana','cherry').

In [ ]:
fruits=('apple','banana','cherry')
fruits

('apple', 'banana', 'cherry')

In [ ]:
fruits[:1]

('apple',)

13. write a code to count how many times 2 appears in tuples (1,2,3,2,4,2).

In [ ]:
tuple1=(1,2,3,2,4,2)
tuple1.count(2)

3

14.. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals=("dog","cat","rabbit")
animals.index("cat")

1

15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [ ]:
fal=('apple','orange','banana')
'banana' in fal

True

 16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

  17.Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
set2={1,2,3,4}
set2.add(6)
set2

{1, 2, 3, 4, 6}

18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
tuple1=(10,20,30)
print(tuple1)

(10, 20, 30)


19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
fruit_list=('apple', 'banana', 'cherry')
fruit_list[:1]

('apple',)


20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
tuple_3=(1, 2, 3, 2, 4, 2)
tuple_3.count(2)

3



21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals=("dog","cat","rabbit")
animals.index("cat")

1

22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
fal=('apple','orange','banana')
'banana' in fal

True

23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

24. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
set2={1,2,3,4}
set2.add(6)
set2

{1, 2, 3, 4, 6}